.newProduct {
  flex: 4;
  padding-left: 20px;
}

.newProductTile {
  margin-bottom: 10px;
}

.newProductUpload {
  display: flex;
  flex-direction: column;
}

.newProductUpload > label {
  margin-bottom: 10px;
  color: rgb(161, 159, 159);
}

.newProductUpload > input {
  margin-bottom: 20px;
}

.newProductForm {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.newProductForm > label {
  margin-bottom: 10px;
  color: rgb(148, 146, 146);
  font-size: 16px;
}

.newProductForm > input {
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid gray;
}

.newProductForm > select {
  padding: 8px;
}

.newProductutton {
  margin-top: 20px;
  background-color: darkblue;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  padding: 7px 20px;
  border: none;
  font-size: 16px;
}
